/*! Tania Rascia's website style. Written with plain CSS in one file. Why not? */

/* Global variables */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --font-color: #495057;
  --heading-color: #343a40;
  --background: white;
  --dark-font-color: #1b1d25;
  --medium-font-color: #60656c;
  --light-font-color: #858b93;
  --light-background: #f1f4f8;
  --light-background-hover: #e1e6ed;
  --border: #d6d9de;
  --link-color: #5183f5;
  --link-color-darker: #364fc7;
  --navbar-color: #1b1d25;
  --blockquote: #edf2ff;
  --transparent-text: rgba(0, 0, 0, 0.7);
  --transparent-bg: rgba(0, 0, 0, 0.05);
  --light-transparent-bg: rgba(255, 255, 255, 0.1);
  --code-font-family: Menlo, 'Roboto Mono', Courier New, monospace;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Scaffolding */

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto',
    Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: var(--font-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
}

body {
  background: var(--background);
  margin: 0;
  padding: 0;
}

section {
  margin: 2rem 0;
}

section:first-of-type {
  margin-top: 0;
}

section > h2 {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 800px) {
  section > h2 {
    margin-bottom: 2rem;
  }
}

.index h2,
section > h2 {
  border-bottom-width: 0;
}

@media screen and (min-width: 800px) {
  .index h2,
  section > h2 {
    border-bottom-width: 4px;
  }
}

a.section-button {
  font-weight: 500;
  background: var(--light-background);
  color: var(--dark-font-color);
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  border-width: 0 !important;
  white-space: nowrap;
  line-height: 1;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

a.section-button:hover {
  background: var(--light-background-hover);
  color: var(--heading-color);
}

@media screen and (min-width: 800px) {
  section {
    margin: 3.5rem 0;
  }
  section > h2 {
    font-size: 2rem;
    margin: 0 0 1rem;
  }
}

.container {
  max-width: 825px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.container.page p {
  max-width: 600px;
}

@media screen and (min-width: 800px) {
  .container {
    padding: 0 2rem;
  }
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

p,
ol,
ul,
dl,
table,
blockquote {
  font-size: 1.05rem;
  margin: 0 0 1.5rem 0;
}

ul {
  padding: 0 1rem;
}

@media screen and (min-width: 800px) {
  p,
  ol,
  ul,
  dl,
  table,
  blockquote {
    font-size: 1.125rem;
  }

  ul {
    padding: 0 2rem;
  }
}

ul li p {
  margin: 0;
}

ul li ul {
  padding-left: 1rem;
  margin: 0;
}

ul li ul li {
  margin: 0;
}

ol li ol {
  margin-bottom: 0;
}

.task-list-item [type='checkbox'] {
  margin-right: 0.5rem;
}

blockquote {
  margin: 2rem 0;
  padding: 1rem;
  background: var(--blockquote);
  font-weight: 400;
  border-radius: 0.3rem;
  border-left: 3px solid var(--link-color);
}

blockquote *:last-child {
  margin: 0;
}

blockquote :not(pre) > code[class*='language-'] {
  background: rgba(0, 0, 0, 0.1) !important;
}

blockquote.quotation {
  margin: 2rem 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background: transparent;
}

blockquote.quotation p {
  font-family: Georgia, serif;
  line-height: 1.6;
  color: var(--medium-font-color);
  font-size: 1.1rem;
  margin: 0 0 2rem 0;
}

@media screen and (min-width: 800px) {
  blockquote {
    padding: 2rem;
  }
  blockquote.quotation {
    margin: 2.5rem 0;
    overflow: auto;
  }
  blockquote.quotation cite {
    float: right;
    font-size: 1.2rem;
  }
  blockquote.quotation p {
    font-size: 1.5rem;
  }
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1.5rem 0;
  font-weight: 700;
  line-height: 1.2;
  color: var(--heading-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 3rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.75rem;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid var(--light-background);
}

h2 code {
  font-size: 1.75rem !important;
}

h3 {
  font-size: 1.5rem;
  color: var(--font-color);
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 code {
  font-size: 1.4rem !important;
}

h4 {
  font-size: 1.3rem;
  color: var(--font-color);
  font-weight: 500;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--light-background);
  padding-bottom: 0.25rem;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.9rem;
  }

  h2 code {
    font-size: 1.9rem !important;
  }

  h3 {
    font-size: 1.7rem;
    color: var(--font-color);
    font-weight: 600;
  }

  h3 code {
    font-size: 1.6rem !important;
  }

  h4 {
    font-weight: 400;
    font-size: 1.4rem;
  }
}

.avatar {
  display: none;
  max-width: 100px;
  margin-right: 1rem;
}

.blurb {
  padding: 2rem 0;
  background: #0004a5;
  font-family: 'VT323', monospace;
}

.blurb .container {
  max-width: 90%;
  background-color: #bbbbbb;
  border: 0.875px solid #000000;
  margin-top: 7px;
  padding-top: 6.125px;
  padding-bottom: 7px;
  border-left-width: 2px;
  border-right-width: 2px;
  padding-left: 10.5px;
  padding-right: 11.5px;
  box-shadow: -3.5px -7px 0 0 #bbbbbb, 2.5px 6.125px 0 0 #bbbbbb,
    -3.5px 6.125px 0 0 #bbbbbb, 2.5px -7px 0 0 #bbbbbb;
  filter: drop-shadow(7px 8px 0 black);
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.blurb p {
  color: #000000;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

.blurb p:last-of-type {
  margin-bottom: 0.5rem;
}

.blurb h3 {
  background: #000000;
  color: #bbbbbb;
  padding-left: 1rem;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
}

.blurb a {
  color: #bbbbbb;
  background: black;
  font-weight: 400;
  border-width: 0;
}

.blurb a:hover {
  color: white;
  background: #04a1a1;
  font-weight: 400;
  border-width: 0;
}

.blurb a.button {
  border-color: #04a1a1;
  background: #04a1a1;
  color: white;
  border-radius: 0;
  font-size: 24px;
  padding: 0.25rem 0.75rem;
  filter: drop-shadow(7px 8px 0 black);
  margin-top: 0.25rem;
}

.blurb a.button:hover {
  border-color: white;
  background: white;
  color: black;
}

@media screen and (min-width: 800px) {
  .blurb {
    padding: 3.5rem 0;
  }

  .blurb .container {
    display: flex;
    max-width: calc(825px - 4rem);
  }

  .avatar {
    display: block;
    max-width: 180px;
  }

  .blurb p {
    font-size: 32px;
  }

  .blurb h3 {
    font-size: 40px;
  }

  .blurb a.button {
    font-size: 32px;
  }
}

a.link {
  display: block;
  padding: 0.25rem 0;
  margin: 0.25rem 0;
  border-radius: 0.35rem;
  font-weight: 600;
  color: var(--dark-font-color);
}

a.link:hover {
  color: var(--link-color);
}

a.button {
  display: inline-block;
  border: 2px solid var(--link-color);
  padding: 0.3rem 0.6rem;
  margin-right: 0.75rem;
  font-weight: 500;
  background: var(--link-color);
  color: white;
  border-radius: 0.35rem;
  font-size: 0.9rem;
}

a.button.large {
  padding: 0.8rem 1rem;
  font-size: 1.05rem;
}

a.button.secondary {
  border: 2px solid #edf2ff;
  background: #edf2ff;
  color: #3b5bdb;
}

a.button:hover,
a.button.secondary:hover {
  border: 2px solid var(--link-color-darker);
  background: var(--link-color-darker);
  color: white;
}

@media screen and (min-width: 800px) {
  a.button {
    font-size: 0.9rem;
  }
  a.button.large {
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
  }
}

p.subtitle {
  color: var(--medium-font-color);
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 0;
}

@media screen and (min-width: 800px) {
  p.subtitle {
    font-size: 1.5rem;
  }
}

/* Links */

a {
  color: var(--heading-color);
  text-decoration: none;
  font-weight: 600;
  border-bottom: 3px solid #b9cdfb;
}

a:hover {
  color: #101010;
  border-bottom: 3px solid #96b4f9;
}

a.image-link {
  border-width: 0;
}

a.gatsby-resp-image-link:hover {
  border-bottom: none;
}

a code[class*='language-'] {
  color: var(--link-color) !important;
}

a code[class*='language-']:hover {
  background: var(--link-color) !important;
  color: white !important;
}

/* Navbar */

main {
  margin-top: 50px;
}

@media screen and (min-width: 800px) {
  main {
    margin-top: 0;
  }
}

.emoji {
  margin: 0 0.4rem 0 0.1rem;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--navbar-color);
  box-shadow: 0 3px 13px rgba(100, 110, 140, 0.1),
    0 2px 4px rgba(100, 110, 140, 0.15);
  z-index: 2;
  padding: 0.5rem;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar a {
  border-radius: 0.35rem;
  margin: 0 0.05rem;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
  font-size: 0.85rem;
  border: 1px solid transparent;
  padding: 0 0.3rem;
  background: transparent;
}

.navbar button {
  font-size: 1rem;
  margin-right: -1rem;
}

.navbar a .emoji {
  display: none;
}

.navbar a:first-of-type {
  margin-left: -1rem;
}

.navbar a.brand {
  font-weight: 500;
  color: white;
  white-space: nowrap;
  border: none;
  display: flex;
  align-items: center;
  line-height: 1;
  background: transparent;
}

.navbar a.brand .emoji {
  display: inline-block !important;
}

.navbar a.brand img {
  height: 22px;
  width: 22px;
}

@media screen and (min-width: 500px) {
  .navbar a {
    font-size: 0.95rem;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 800px) {
  .emoji {
    margin: 0 0.5rem 0 0.1rem;
  }
  .navbar {
    position: static;
    padding: 1.5rem 0;
    background: transparent;
    box-shadow: none;
  }

  .navbar .flex {
    justify-content: space-between;
  }

  .navbar a {
    padding: 0.75rem 1.25rem;
    margin: 0 0.25rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--font-color);
  }
  .navbar a.brand {
    font-size: 1.3rem;
    margin-right: 3rem;
    border: none;
    background: transparent !important;
    color: var(--dark-font-color);
  }
  .navbar a.brand img {
    height: 26px;
    width: 26px;
    margin-right: 0.25rem;
  }
  .navbar a:first-of-type {
    margin-left: -1.5rem;
  }
  .navbar a:hover,
  .navbar a[aria-current='page'] {
    background: var(--light-background);
    color: var(--dark-font-color);
  }
  .navbar a.brand:hover {
    background: var(--light-background) !important;
  }
  #dark-mode-button:hover {
    background: var(--light-background);
  }
}

@media print {
  .navbar {
    display: none;
  }
}

#dark-mode-button {
  display: flex;
  border: none;
  padding: 0.2rem 0.7rem 0.2rem 0.5rem;
  border-radius: 0.35rem;
  box-sizing: content-box;
  cursor: pointer;
  font-size: 1.1rem;
  background: transparent;
}

#dark-mode-button:focus {
  outline: none;
}

@media screen and (min-width: 800px) {
  #dark-mode-button {
    padding: 0.95rem 0.75rem;
    font-size: 1.2rem;
  }
}

/* Footer */

.footer {
  padding: 2rem 0;
}

.footer > .flex {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex nav {
  padding: 1rem 0;
}

.footer img {
  height: 30px;
  width: 30px;
}

.footer a {
  border-radius: 0.35rem;
  margin: 0 0.05rem;
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid transparent;
  padding: 0.5rem;
  margin: 0 0.5rem;
  color: var(--light-font-color);
}

.footer a:hover {
  color: var(--heading-color);
  background: var(--light-background);
}

.footer a.img {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0.75rem;
  background: none;
}

.footer img {
  height: 30px;
  width: 30px;
}

@media screen and (min-width: 800px) {
  .footer > .flex {
    align-items: flex-start;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .footer a {
    padding: 0.75rem;
  }

  .footer a.img {
    padding: 0 0.5rem;
    margin: 0 1rem;
  }
}

@media print {
  .footer {
    display: none;
  }
}

/* Tables */

table {
  display: block;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

thead,
tbody {
  white-space: nowrap;
}

th {
  border-bottom: 2px solid var(--border);
}

tfoot th {
  border-top: 1px solid var(--border);
}

td {
  border-bottom: 1px solid var(--border);
}

th,
td {
  text-align: left;
  padding: 0.75rem !important;
  hyphens: auto;
  word-break: break-word;
}

tbody tr:nth-child(even) {
  background-color: var(--light-background);
}

@media screen and (min-width: 800px) {
  table {
    display: table;
    border: 1px solid var(--border);
  }
  thead,
  tbody {
    white-space: normal;
  }
}

/* Grid and flex */

.flex {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .flex-row {
    flex-direction: row;
  }
}

.flex-col {
  flex: 1;
}

.flex-two-thirds {
  flex: 2;
}

.justify-center {
  justify-content: center;
}

.new-post,
.popular-post {
  display: inline-block;
  color: #111;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  font-size: 0.85rem;
  margin-left: 1rem;
}

.new-post {
  background: #d3f9d8;
}

.popular-post {
  background: #dce6fd;
  color: var(--heading-color);
}

@media screen and (min-width: 800px) {
  .new-post,
  .popular-post {
    margin-bottom: 0;
  }
}

/* Post */

header {
  padding: 1.5rem 0;
}

header h1 {
  font-size: 2rem;
  display: inline-block;
  font-weight: 600;
  margin-top: 1rem;
}

header u {
  display: inline-block;
  text-decoration: none;
  padding: 0.4rem 0;
}

.article-header {
  padding-top: 2rem;
  margin-bottom: 0.5rem;
}

.article-header .container {
  padding-left: 0;
  padding-right: 0;
}

.article-header .thumb {
  display: flex;
  flex-direction: column;
}

.article-header h1 {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0;
}

.article-header .description {
  font-size: 1.2rem;
  color: var(--light-font-color);
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 0;
}

.post-meta {
  margin-top: 1rem;
  padding: 0;
  color: var(--light-font-color);
  font-size: 0.9rem;
}

.post-meta a {
  color: var(--font-color);
  border-width: 0;
}

.post-meta time {
  margin-top: 0.2rem;
  font-size: 0.9rem;
}

.post-meta .tags {
  margin-top: 0.5rem;
}

.post-meta .tags a {
  text-decoration: none;
}

.anchor.before {
  stroke: var(--link-color);
  stroke-width: 1px;
  fill: var(--link-color);
  font-weight: 700;
  left: -0.25rem;
  border-width: 0;
}

.article-post .anchor.before {
  top: 1rem;
}

.article-post {
  margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {
  .article-post {
    margin-bottom: 3rem;
  }

  .article-post h1,
  .article-post h2,
  .article-post h3,
  .article-post h4,
  .article-post h5 {
    padding-top: 1rem;
  }

  .post-meta {
    margin-top: 1.5rem;
    padding: 1rem 0;
  }
  header h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }
  header u {
    background: linear-gradient(transparent 85%, #bac8ff 0);
  }
  .article-header {
    padding-top: 3rem;
  }
  .article-header h1 {
    padding-top: 0;
    font-size: 2.5rem;
  }
  .article-header .thumb {
    flex-direction: row;
  }
  .article-header .description {
    font-size: 1.8rem;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1100px) {
  .article-header h1 {
    font-size: 2.5rem;
  }
}

.post-thumbnail {
  display: block !important;
}

.post-thumbnail.gatsby-image-wrapper {
  min-width: 75px;
  height: 75px !important;
  width: 75px !important;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 800px) {
  .post-thumbnail.gatsby-image-wrapper {
    min-width: 100px;
    height: 100px !important;
    width: 100px !important;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
}

/* Search */

.search-form {
  display: flex;
}

[type='search'] {
  padding: 0.8rem 1rem;
  background: var(--light-background);
  border: 2px solid var(--border);
  width: 100%;
  max-width: 400px;
  border-radius: 0.35rem;
  font-size: 1rem;
  -webkit-appearance: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.search-form [type='search'] {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: var(--light-font-color);
}

/* Suggested */

.suggested {
  flex-direction: column;
  align-items: stretch;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0;
}

.suggested span {
  font-weight: 400;
  display: block;
  font-size: 0.9rem;
  color: var(--transparent-text);
}

.suggested a {
  background: none;
  margin: 0.5rem 1rem;
  border-bottom: none;
  transition: all 0.2s ease;
  padding: 1.5rem;
  border-radius: 0.35rem;
  background: var(--light-background);
  color: var(--heading-color);
}

.suggested a:hover {
  transform: translate3D(0, -1px, 0);
  background: var(--light-background-hover);
}

@media screen and (min-width: 800px) {
  .suggested {
    flex-direction: row;
  }
  .suggested a {
    flex: 0 0 calc(50% - 2rem);
  }
  .suggested a:first-of-type {
    text-align: right;
  }
}

/* Helpers */

.small {
  max-width: 600px;
}

time,
.meta {
  color: var(--light-font-color);
  font-size: 0.85rem;
  white-space: nowrap;
  font-weight: 400;
}

.meta {
  color: var(--medium-font-color);
  font-size: 1rem;
}

/* Tags */

.count {
  font-weight: 700;
  color: var(--link-color);
}

.tags {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.tags > a {
  display: block;
  font-weight: 500;
  background: var(--light-background);
  color: var(--font-color);
  margin: 0.2rem;
  padding: 0.5rem 0.6rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  border-bottom: 0;
  white-space: nowrap;
  line-height: 1;
}

.tags > a:hover {
  background: var(--light-background-hover);
  color: var(--heading-color);
}

mark {
  background: #ffec99;
}

.utterances {
  margin-left: -4px;
  margin-right: -4px;
}

kbd {
  background-color: #f7f7f7;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 2px #fff;
  color: #333;
  display: inline-block;
  font-family: Helvetica Neue, Inter, -apple-system, BlinkMacSystemFont,
    Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
  font-size: 14px;
}

#comments {
  margin-top: 3rem;
}

#comments h2 {
  margin: 0;
}

@media print {
  .comments,
  #comments {
    display: none;
  }
}

/* Posts */

.post-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.post-row time {
  display: block;
  flex: 0 0 65px;
}

.post-row h3 {
  flex: 1;
}

.posts .post:last-of-type a {
  border-bottom-width: 0;
}

.post a {
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 1rem 0;
  border-bottom: 2px solid var(--light-background);
}

.post a:hover {
  border-radius: 0.3rem;
}

.post h3 {
  margin-top: 0.1rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

@media screen and (min-width: 800px) {
  .posts {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .post a {
    padding: 0.75rem 1rem;
    border-bottom-color: transparent;
  }

  .post a:hover {
    background: var(--light-background);
  }

  .post h3 {
    font-size: 1.3rem;
  }

  .post-row time {
    flex: 0 0 80px;
  }
}

/* Projects */

.projects .project:last-of-type {
  border-bottom-width: 0;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
  border-bottom: 2px solid var(--light-background);
}

.project .icon {
  font-size: 1.5rem;
  width: 40px;
}

.project a {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  border-width: 0;
}

.project a:hover h3 {
  text-decoration: underline;
}

.project h3 {
  font-size: 1.2rem;
  margin: 0;
}

.project .description {
  font-size: 1.1rem;
  color: var(--light-font-color);
}

.project a.button {
  margin-left: 1.5rem;
  border-width: 2px;
}

@media screen and (min-width: 800px) {
  .project {
    border-bottom-width: 0;
  }

  .project h3 {
    font-size: 1.3rem;
  }
  .project .description {
    font-size: 1rem;
  }
}

/* Guide */

.guide-thumbnails {
  display: none;
  flex-wrap: wrap;
  align-items: center;
}

.guide-thumbnails a {
  border: 2px solid var(--light-background);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin: 0.25rem;
  color: var(--font-color);
}

.guide-thumbnails span {
  display: none;
}

.guide-thumbnails a:hover {
  background: var(--light-background);
  transform: translate3d(0, -1px, 0);
}

.guide-thumbnails img,
.guide-thumbnails .gatsby-image-wrapper {
  max-width: 30px;
  max-height: 30px;
}

@media screen and (min-width: 800px) {
  .guide-thumbnails {
    display: flex;
    justify-content: flex-start;
  }

  .guide-thumbnails a {
    min-width: 80px;
    flex-direction: column;
  }

  .guide-thumbnails span {
    display: block;
    font-size: 0.85rem;
    font-weight: 400;
  }

  .guide-thumbnails img,
  .guide-thumbnails .gatsby-image-wrapper {
    max-width: 30px;
    max-height: 30px;
    margin-bottom: 0.25rem;
  }
}

.guides .gatsby-image-wrapper {
  height: 50px !important;
  width: 50px !important;
  min-width: 50px;
  margin-right: 1rem;
}

.guides.front-page .guide h2 {
  margin-bottom: 0;
}

.guides.front-page img {
  height: 50px !important;
  width: 50px !important;
  min-width: 50px;
  margin-right: 1rem;
}

.guides .guide:last-of-type {
  border-bottom-color: transparent;
}

.guide {
  display: flex;
  padding: 1.5rem 0;
  border-bottom: 4px solid var(--light-background);
}

.guide h2 {
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  margin: 0 0 0.5rem 0;
  border-bottom: none;
}

.guide a h2:hover {
  text-decoration: underline;
}

.guide p {
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
  color: var(--light-font-color);
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  .guides.front-page img {
    margin-right: 1.5rem;
  }

  .guides.front-page .guide {
    border-bottom: none;
  }

  .guides .gatsby-image-wrapper {
    height: 100px !important;
    width: 100px !important;
    min-width: 100px;
    margin-right: 2rem;
  }

  .guide {
    padding: 2rem 0;
  }

  .guides.front-page .guide {
    padding: 1.5rem 0;
  }
}

.stack-mobile {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .stack-mobile {
    display: block;
  }
}

::selection {
  background: #3b5bdb;
  color: white;
}
